<!DOCTYPE html>
<html>
  <head>
    <title>Random Advice</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Random Advice</h1>
      <% if (locals.data) { %>
      <form action="/save" method="post">
        <textarea class="shprehja" name="advice" rows="5"><%= data %></textarea>
        <button type="submit">SAVE</button>
      </form>

      <% } else { %>
      <p><strong>Error:</strong> <%= error || "No advice available." %></p>
      <% } %>
      <form action="/" method="post">
        <button type="submit">Get New Advice</button>
      </form>

      <h2>Collection</h2>
      <ul>
        <% collection.forEach(item => { %>
        <li class="shprehja">
          <%= item.advice %>
          <form
            action="/edit/<%= item.id %>"
            method="post"
            style="display: inline"
          >
            <input
              type="text"
              name="newAdvice"
              placeholder="Edit advice"
              required
            />
            <button type="submit">Edit</button>
          </form>
          <form
            action="/delete/<%= item.id %>"
            method="post"
            style="display: inline"
          >
            <button type="submit">Delete</button>
          </form>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
