<!DOCTYPE html>
<html>
  <head>
    <title>Random Advice</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="titulli">Random Advice</h1>
      <div class="top">
        <% if (locals.data) { %>
        <form class="d-f" action="/save" method="post">
          
          <textarea class="shprehja" name="advice" rows="4">
          <%= data %></textarea
          >
          <button type="submit">SAVE</button>
        </form>

        <% } else { %>
        <p><strong>Error:</strong> <%= error || "No advice available." %></p>
        <% } %>
        <form action="/" method="post">
          <button type="submit">Get New Advice</button>
        </form>
      </div>

     
      <ul >
        <% collection.forEach(item => { %>
          
          <form
          action="/edit/<%= item.id %>"
          method="post"
          style="display: inline"
        >
        <div class="botom">
        <li class="d-f">
          <textarea class="shprehja" name="newAdvice" rows="3" id="">
 <%= item.advice %></textarea>

            <button type="submit">Edit</button>
          </form>
          <form
            action="/delete/<%= item.id %>"
            method="post"
            style="display: inline"
          >
            <button type="submit">Delete</button>
          </form>
        </li></div>
      
        <% }); %>
      </ul>
    </div>
  </body>
</html>
